<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Enable Gzip Compression
    # AddOutputFilterByType DEFLATE text/plain text/css application/javascript application/json   
    # # models
    # AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
    # AddOutputFilterByType DEFLATE application/javascript application/x-javascript application/json
    # AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml
    # AddOutputFilterByType DEFLATE image/svg+xml
    # AddOutputFilterByType DEFLATE application/font-woff2
 
    # # Exclude file types that should not be compressed
    # SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
    # SetEnvIfNoCase Request_URI \.(?:mp4|avi|mkv|mov)$ no-gzip dont-vary
</IfModule>
